html {
    font-family: 'Mohave', sans-serif;
}

body {
    background-color: #ffe710;
    padding: 0;
    margin: 0;
}

main {
    padding: 0;
    margin: 15px;
}

#inner {
    background-color: #fff;
    padding: 15px;
}

h1 {
    font-size: 2.66rem;
    line-height: 3.0833rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2.66rem;
    line-height: 3.0833rem;
    font-weight: lighter;
    padding: 0;
    margin: 0 0 3rem;
}

ul {
    margin: 0;
    padding: 0;
}

#inner ul {
    display: flex;
    flex-wrap: wrap;
}

#inner ul li {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 300;
}

#inner ul li:first-child {
    padding-left: 0;
}

#inner ul li:not(:first-child) {
    border-left: 3px solid #ffe710;
}

footer {
    background-color: #000;
}

footer ul {
    padding: 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
}

footer ul li a {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 2.4rem;
}

footer ul li a img {
    height: 1.2rem;
    margin-right: 0.5rem;
}

footer ul li a:hover {

}

footer ul li a:visited {
    color: #ffe710;
}

footer ul li a:link {
    color: #ffe710;
    text-decoration: none;
}

@media (min-width: 768px) {
    #logo {
        position: fixed;
        top: 0;
        right: 0;
        width: 33vw;
    }

    main {
        position: fixed;
        left: 10rem;
        bottom: 5rem;
        width: 60vw;
        max-width: 700px;
    }

    #inner {
        padding: 50px;
    }

    h2 {
        margin-bottom: 4rem;
    }

    #inner ul li {
        margin-bottom: 0;
    }

    footer ul {
        justify-content: space-evenly;
    }

    footer ul li a:link {
        font-size: 1.3rem;
    }
}